<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{subject}}</title>
</head>
<body>
    <h1>¡Bienvenido, {{name}}!</h1>
    <p>Gracias por registrarte en nuestra plataforma.</p>
    <p>Tue cuenta ya se encuentra activa!</p>
</body>
</html>